input {
  beats {
      type => "beats"
      port => 5044
      type => "beats"
      tags => ["beats", "filebeat"]
      add_field => {
        "application_name" => "%{[container][image][name]}"
      }
	}
}

output {
  elasticsearch {
    hosts => ["elasticsearch:9200"]
    index => "%{application_name}-%{[@metadata][version]}--%{[beat.version]}-%{+yyyy.MM.dd}" 
    action => "create"
    user => "elastic"
    password => "local"
    ssl => false
    ssl_certificate_verification => false
  }
  stdout { codec => rubydebug }
}
