input {
  beats {
      type => "beats"
      port => 5044
      type => "beats"
      tags => ["beats", "filebeat"]
	}
}

# catch only app logs.
filter {
  if [container][image][name] != "node-scraping-app" {
    drop {}
  }
}

filter {
  json {
    source => "message"
  }
}

output {
  elasticsearch {
    hosts => ["elasticsearch:9200"]
    index => "%{[container][image][name]}-%{+yyyy.MM.dd}" 
    action => "create"
    user => "elastic"
    password => "local"
    ssl => false
    ssl_certificate_verification => false
  }
}
